.accionSection {
    width: 100%;
    background-color: #F07E39;
    padding: 3rem 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 0 7rem;
    gap: 2rem;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    font-variation-settings: "wdth" 112;
    color: #F0F0F0;
    margin: 0;
}

.subtitle {
    font-size: 1rem;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.ctaButton {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
    color: #F0F0F0;
    z-index: 1;
    background-color: transparent;
    text-decoration: none;
    white-space: nowrap;
}

.ctaButton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.ctaButton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #F0F0F0;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.ctaButton:hover {
    color: #F07E39;
    border: 1px solid #F0F0F0;
}

.ctaButton:hover:before {
    top: -35%;
    background-color: #F0F0F0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.ctaButton:hover:after {
    top: -45%;
    background-color: #F0F0F0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
