.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    text-align: center;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    align-items: center;
    padding: 0 0 0 7rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #26272B;
    margin: 0;
    font-variation-settings: "wdth" 112;
    text-align: left
}

.description {
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    margin: 0;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.heroImage {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.9;
    border-radius: 50% 0 0 50%;
}
