.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #26272B;
    background-color: #F0F0F0;
    text-align: center;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ajusta la altura del gradiente */
    background: linear-gradient(to right, transparent, #F0F0F0 110%);
    z-index: 1;
    pointer-events: none; /* Para que no bloquee clics */
}

.heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(10%) blur(2px);
    opacity: 0.7;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
    padding: 0 7rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3rem;
    max-width: 112.5rem;
}

.title {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 800;
    font-variation-settings: "wdth" 112;
    max-width: 60%;

}

.description {
    font-size: 1rem;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    line-height: 1.7;
    margin: 0;
    max-width: 60%;
}

.infoButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0;
    background: none;
    border: none;
    color: #26272ba5;
    font-size: 1rem;
    font-weight: 700;
    font-variation-settings: "wdth" 110;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.infoButton:hover {
    color: #26272B;
}
