.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    text-align: center;
    padding: 0 7rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 100%;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #26272B;
    margin: 0;
    font-variation-settings: "wdth" 112;
    text-align: left
}

.description {
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    margin: 0;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heroImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid #A7A8A9;
}
