.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
    text-align: center;
    border-radius: 0 0 var(--border-radius, 50px) var(--border-radius, 50px);
    transition: border-radius 0.3s ease-out;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(20, 25, 35, 0.8);
    pointer-events: none;
    z-index: 0;
}

.heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    object-fit: cover;
    filter: grayscale(10%) blur(2px);
    opacity: 0.7;
    z-index: 0;
    transition: transform 0.1s ease-out;
    transform: scale(var(--zoom-scale, 1.1));
}

.content {
    position: relative;
    z-index: 2;
    padding-right: 7rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
    max-width: 112.5rem;
}

.title {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 800;
    font-variation-settings: "wdth" 112;
    max-width: 60%;

}

.description {
    font-size: 1rem;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    line-height: 1.7;
    margin: 0;
    max-width: 60%;
}

.infoButton {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    background: none;
    border: none;
    color: #F0F0F0A5;
    font-size: 1rem;
    font-weight: 700;
    font-variation-settings: "wdth" 110;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.infoButton:hover {
    color: #F0F0F0;
}

@media (max-width: 1300px) {

    .hero {
        border-radius: 0 0 var(--border-radius, 30px) var(--border-radius, 30px);
    }

    .content {
        padding-right: 2rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 700;
        font-variation-settings: "wdth" 112;
        max-width: 80%;
    }

    .description {
        font-size: 1rem;
        font-weight: 200;
        max-width: 80%;
    }
}

@media (max-width: 501px) {

    .content {
        padding-left: 2rem;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 100%;
    }

    .description {
        font-size: 0.95rem;
        max-width: 100%;
    }
}