
.navbar {
  background-color: #F0F0F0;
  padding: 1rem 7rem;
  font-family: "Archivo", sans-serif;
}

.topNav {
  text-align: right;
  padding-bottom: 1rem;
  font-size: 14px;
  color: #26272B;
  font-weight: 500;
  font-variation-settings: "wdth" 105;
}

.divider {
  border: 0;
  border-top: 2px solid #aeaeae9e;
  margin: 0;
}

.bottomNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.logo {
  height: 60px;
  width: 110px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 7rem;
  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;
  position: relative;
  transition: 0.4s;
  color: #26272B;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navLinks a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -12px;
  left: 50%;
  background-color: #26272B;
  transition: all 0.3s;
}

.navLinks a:hover::before {
  width: 100%;
  left: 0;
}

.navActions {
  display: flex;
  align-items: center;
  gap: 6rem;
}

/*-------------------------------------------*/
.ctaButton {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border: 1px solid #26272B;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
  color: #26272B;
  z-index: 1;
  background-color: transparent;
}

.ctaButton:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.ctaButton:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #26272B;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.ctaButton:hover {
  color: #F0F0F0;
  border: 1px solid #26272B;
}

.ctaButton:hover:before {
  top: -35%;
  background-color: #26272B;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.ctaButton:hover:after {
  top: -45%;
  background-color: #26272B;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}