.expertosContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-160deg, #F07E39 75%, #F3833E 25%);
    color: #F0F0F0;
    text-align: center;
    padding: 2.25rem 0;
    gap: 4rem;
    /*
    border-radius: 0 0 var(--border-radius, 50px) var(--border-radius, 50px);
    transition: border-radius 0.3s ease-out;
    */
}

/* Contenedor del h2 y botón */
.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 112.5rem;
    padding: 0 7rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    font-variation-settings: "wdth" 112;
    margin: 0;
    color: #F0F0F0;
    line-height: 1.4;
}

@media (max-width: 1300px) {
    /*
    .expertosContainer {
        border-radius: 0 0 var(--border-radius, 30px) var(--border-radius, 30px);
    }
    */

    .contentWrapper {
        flex-direction: column;
        padding: 0 2rem;
        gap: 3rem;
    }

    .title {
        font-size: 1.25rem;
        text-align: center;
        font-weight: 600;
    }
}

@media (max-width: 526px) {
    .title {
        font-size: 1.15rem;
    }
}

@media (max-width: 501px) {
    .expertosContainer {
        padding: 2rem 0;
    }
    .title {
        font-size: 1.05rem;
        font-weight: 600;
    }
}
