.expertosContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26272B;
    color: #F0F0F0;
    text-align: center;
    padding: 3rem 0;
    gap: 4rem;
}

/* Contenedor del h2 y botón */
.contentWrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    max-width: 112.5rem;
    padding: 0 7rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    font-variation-settings: "wdth" 112;
    margin: 0;
    color: #F0F0F0;
}

/* Botón de contacto 
.contactButton {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
    color: #F0F0F0;
    z-index: 1;
    background-color: transparent;
}

.contactButton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(240, 240, 240, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.contactButton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #F0F0F0;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.contactButton:hover {
    color: #26272B;
    border: 1px solid #F0F0F0;
}

.contactButton:hover:before {
    top: -35%;
    background-color: #F0F0F0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.contactButton:hover:after {
    top: -45%;
    background-color: #F0F0F0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
*/

@media (max-width: 1300px) {
    .contentWrapper {
        flex-direction: column;
        padding: 0 2rem;
        gap: 3rem;
    }

    .title {
        font-size: 1.25rem;
        text-align: center;
        font-weight: 600;
    }

    /*
    .contactButton {
        width: auto;
        padding: 0.8rem 2rem;
        font-size: 1.1rem;
    }
*/
}

@media (max-width: 501px) {
    .expertosContainer {
        padding: 2.25rem 0;
    }

    .title {
        font-size: 1rem;
        font-weight: 600;
    }
}