.nosotrosContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* min-height: 100dvh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    color: #26272B;
    text-align: center;
    padding: 4rem 7rem;
    border-top: 0.5px solid #AAAAAA;
    border-bottom: 0.5px solid #AAAAAA;
}

/* Contenedor principal */
.contentWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 98.5rem;     /* ========= SIN SOLUCIÓN =========*/
}

/* Columna de texto */
.textColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;              /* =======================*/
    text-align: left;
}

/* Título de la sección */
.title {
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: "wdth" 112;
    margin: 0;
    position: relative;
    text-align: left;
    line-height: 1.4;
}

/* Descripción */
.description {
    font-size: 0.95rem;
    line-height: 1.7;
    text-align: justify;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    margin: 0;
    color: #26272B;
}

/* Línea horizontal separadora */
.divider {
    border: none;
    border-top: 2px solid #AAAAAA77;
    margin: 0;
    width: auto;
    border-radius: 10px;
}

/* Contenedor de tarjetas */
.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
}

/* Tarjeta individual */
.card {
    background-color: #DADADA;
    padding: 2rem 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border: 1px solid #A7A8A9;
}

/* Contenedor del icono */
.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 0.5rem; */
    width: 70px;
    height: 70px;
    background-color: #AAAAAA;
    border-radius: 8px;
}

/* Icono */
.icon {
    font-size: 2.188rem;
    color: #DADADA;
}

/* Título de la tarjeta */
.cardTitle {
    font-size: 1.1rem;
    font-weight: 600;
    font-variation-settings: "wdth" 110;
    color: #26272B;
    margin: 0;
}

/* Texto de la tarjeta */
.cardText {
    font-size: 0.95rem;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    color: #26272B;
    line-height: 1.7;
    margin: 0;
}


    /* 1300 */
@media (max-width: 1300px) {
    .nosotrosContainer {
        padding: 4rem 0;
    }

    .textColumn {
        gap: 2rem;
    }

    .title {
        font-size: 1.5rem;
        padding: 0 2rem;
        /*margin: 20px auto 30px auto;*/
    }

    .description {
        padding: 0 2rem;
        line-height: 1.7;
    }

    .divider {
        margin: 0 2rem;
    }

    .cardsContainer {
        width: calc(100% - 4rem); /* 100% - (2rem × 2 lados) */
        margin: 0 2rem;
        gap: 2rem;
    }
}

@media (max-width: 530px) {
    .title {
        max-width: 450px;
    }
}

    /* 501 */
@media (max-width: 501px) {
    .title {
        font-weight: 600;
    }

    .cardsContainer {
        grid-template-columns: 1fr;
    }
}
