.valorContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    color: #26272B;
    text-align: center;
    padding: 4rem 0;
    gap: 2rem;
    border-top: 0.5px solid #AAAAAA;
}

/* Sección de encabezado */
.headerSection {
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    gap: 2rem;
    max-width: 112.5rem;
    padding: 0 7rem;
    width: 100%;
}

/* Título principal */
.title {
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: "wdth" 112;
    margin: 0;
    text-align: left;
    color: #26272B;
    line-height: 1.4;
}

/* Descripción */
.description {
    font-size: 0.95rem;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    line-height: 1.7;
    margin: 0;
    text-align: justify;
    color: #26272B;
    max-width: 112.5rem;
    width: 100%;
}

/* Grid de tarjetas */
.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 112.5rem;
    padding: 0 7rem;
}

/* Tarjeta individual */
.card {
    background-color: #DADADA;
    padding: 2.5rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border: 1px solid #A7A8A9;
}

/* Contenedor del icono */
.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #AAAAAA;
    border-radius: 8px;
}

/* Icono */
.icon {
    font-size: 2.188rem;
    color: #DADADA;
}

/* Título de la tarjeta */
.cardTitle {
    font-size: 1.1rem;
    font-weight: 600;
    font-variation-settings: "wdth" 110;
    color: #26272B;
    margin: 0;
}

/* Texto de la tarjeta */
.cardText {
    font-size: 0.95rem;
    font-weight: 300;
    font-variation-settings: "wdth" 110;
    color: #26272B;
    line-height: 1.7;
    margin: 0;
}

    /* 1300 */
@media (max-width: 1300px) {

    .headerSection {
        padding: 0 0;
    }

    .title {
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    .description {
        padding: 0 2rem;
        line-height: 1.7;
        text-align: justify;
    }

    .cardsGrid {
        grid-template-columns: repeat(2, 1fr); /* 2x2 fijo */
        gap: 2rem;
        padding: 0 2rem;
    }
}

@media (max-width: 540px) {
    .title {
        max-width: 450px;
    }
}

    /* 501 */
@media (max-width: 501px) {
    .title {
        font-weight: 600;
    }

    .description {
        text-align: justify;
    }

    .cardsGrid {
        grid-template-columns: 1fr;
    }
}
