.welcomeContainer {
    overflow: hidden;
    width: 100%; /* 100% of the viewport width */
    min-height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0; /* Placeholder background */
    color: #333;
    text-align: center;
}
