.welcomeContainer {
    position: relative; /* Crucial for positioning the background image */
    overflow: hidden;
    width: 100%; /* 100% of the viewport width */
    min-height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
    text-align: center;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;
    transition: transform 0.1s ease-out;
    transform: scale(var(--zoom-scale, 1.1));
}

.contentWrapper {
    position: relative;
    z-index: 1;
    padding: 7rem;
}


.title {
    margin-bottom: 2em;
    margin-top: 4em;
    font-size: 3em;
    font-weight: 800;
    font-variation-settings: "wdth" 112.5;
}

.description {
    font-size: 16px;
    font-weight: 300;
    font-variation-settings: "wdth" 112.5;
    text-shadow: 0px 0px 1px #26272B;
}


@media (max-width: 1300px) {
    .contentWrapper {
        padding: 2rem;
    }

    .title {
        margin-bottom: 2em;
        font-size: 2em;
        font-weight: 700;
        font-variation-settings: "wdth" 112.5;
    }

    .description {
        font-size: 16px;
        font-weight: 200;
    }
}
