.nosotrosContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26272B;
    color: #F0F0F0;
    text-align: center;
}


@media (max-width: 1300px) {
    .nosotrosContainer {
        padding: 5rem 0;
    }

}
