.nosotrosContainer {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ea5c5c;
    color: #26272B;
    text-align: center;
}
